@model MyCMS.Core.Entities.Page
@{
    ViewData["Title"] = "Set as Home Page";
    Layout = "_AdminLayout";
}

<h1>Set as Home Page</h1>

<h3>Are you sure you want to set this page as the home page?</h3>

<div>
    <h4>Page</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Page Title</dt>
        <dd class="col-sm-10">@Model?.PageTitle</dd>

        <dt class="col-sm-2">Page URL</dt>
        <dd class="col-sm-10">@Model?.PageURL</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Set as Home" class="btn btn-warning" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
